body {
  margin: 0;
  padding-top: 3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #efefef; */
  background-color: #faf9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-linebreak {
  white-space: pre-line;
}

.anchor {
  display: block;
  height: 96px;
  margin-top: -96px;
  visibility: hidden;
}

@media (max-width: 576px) {
  .anchor {
    height: 150px;
    margin-top: -150px;
  }
}

.navbar-color,
.footer-color {
  background-color: #111;
}

.background-img {
    margin: 0;
    background-color: #151b29;
    background-image: url("burren.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    min-height: 100vh;
    min-width: 100vw;
}

.logo {
  max-height: 70vh;
  max-width: 70vw;
}

.about-section,
.faq-section {
  /* background-color: #eceff4; */
  background-color: #faf9f9;
}

#about-header,
#faq-header {
  font-size: 3rem;
  font-weight: 700;
  color: #2e3440;
}

.therapist-section,
.contact-section {
  background-color: #314856;
}

#therapist-header,
#contact-header {
  font-size: 3rem;
  font-weight: 700;
  color: #BAEA90;
  /* background: linear-gradient(to right, #618eb9 0%, #BFD3E3 100%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  display: inline-block;
}

/* .therapist-card { */
/*   max-height: 75vh; */
/* } */

.photo {
  max-height: 75vh;
  width: auto;
  object-fit: cover;
  object-position: top;
}

.custom-btn {
  background-color: #bee3db;
}

.custom-btn:hover,
.custom-btn:focus {
  background-color: #89b0ae;
  /* background-color: #e07a5f; */
}

.card-color {
  /* background-color: #eceff4; */
  background-color: #faf9f9;
}

/* .faq-section { */
/*   background-color: #eceff4; */
/* } */
